*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  user-select: none

}



.container{
  /* border: 3px dotted rgb(102, 98, 98); */
  margin: auto;
  width: 90%;
  text-align: center;
}
@media (min-width: 800px){
  .container{
    /* border: 3px dotted rgb(102, 98, 98); */
    margin: auto;
    width: 60%;
    text-align: center;
  }
}

.container .date {
  margin: 2rem 0 1rem 0;
  display: flex;

}
.container .date p{

  padding: 0 0.2em;
}

.container .form-input{
  position: relative;
  background: transparent;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  border:0;
  outline: 0px;
  /* border-bottom: 1px solid gray; */
  box-shadow: none;
}
.container .form-input .icon-add{
  position: absolute;
left: 15px;
top: 0;
font-size: 2rem;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: gray;}
.container form input {
  padding: 5px 10px 5px 50px;
  font-size: 1.2rem;
  line-height: 2rem;
  outline: none;
  display: block;
  width: 100%;
  /* border-radius: 8px; */
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  box-shadow: none;
}
.container .task-row{
  background-color: whitesmoke;
  margin-top: 0.5rem;
  padding: 0px;
  font-size: 1.2rem;
  line-height: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
  
}
.container .task-row .icon-delete,
.completed .icon-delete{
  color: gray;
  font-size: 2rem;
}
.container .task-row p,
.completed p{
  text-transform: capitalize;
}



.completed{
  background-color: rgb(216, 243, 177);
  text-decoration: line-through;
  margin-top: 0.5rem;
  padding: 0px;
  font-size: 1.2rem;
  line-height: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: space-between;
}
.container .length{
  color: gray;
  margin: 1rem 0;
}
.textline{margin-left: 1rem;}


.popup-task-row{
  background-color: whitesmoke;
  padding: 0px;
  width: 100%;
  /* margin-top: 0.5rem; */
  display: flex;
  align-items: center;
  font-size: 0px;
  opacity: 0;
  justify-content: space-between;
  animation: popIt 3s;
}
@keyframes popIt{
  25% {
    background-color: rgb(216, 243, 177);
    margin-top: 0.5rem;
    padding: 0px;
    font-size: 1.2rem;
    line-height: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    height: 3rem;
    opacity: 100%;
    text-align: center;}
    75% {
      background-color: rgb(216, 243, 177);
      margin-top: 0.5rem;
      padding: 0px;
      font-size: 1.2rem;
      line-height: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 8px;
      justify-content: space-between;
      height: 3rem;
      opacity: 100%;
      text-align: center;}
}

.popup-textline, .popup-task-row p{
margin: auto;
color: rgb(216, 243, 177);

  
  animation: popThis 3s;
}
@keyframes popThis{
  25%{
    color: black;}
    75%{
      color: black;}

}